[mysqld]
max_allowed_packet=1G
innodb_buffer_pool_size=7G
innodb_log_file_size=1G
innodb_flush_log_at_trx_commit=2
innodb_read_io_threads=8
innodb_write_io_threads=8
innodb_file_per_table=1
bulk_insert_buffer_size=256M
net_read_timeout=3600
net_write_timeout=3600
